<section id="faq-section">
    <div id="faq-section-left">
        <img src="/images/memberships/faqs-image 1.png" alt="" class="section-side-img" />
    </div>
    <div id="faq-section-right">
        <div class="section-title">
            <img src="~/images/section-title-bullet.svg" alt="" />
            <span>Frequently Asked Questions</span>
        </div>
        <h2 class="title faq-title">
            Common questions about gym and training
        </h2>
        <div id="questions">
            <div class="qa">
                <p class="question">
                    Q1. Do I need prior gym experience to Join CoreFitness?
                </p>
                <p class="answer"></p>
            </div>
            <div class="qa">
                <p class="question">
                    Q2. What facilities are included with the membership?
                </p>
                <p class="answer"></p>
            </div>
            <div class="qa">
                <p class="question">
                    Q3. Can I try them gym before taking a membership?
                </p>
                <p class="answer"></p>
            </div>
            <div class="qa">
                <p class="question">
                    Q4. Are there group workout programs available?
                </p>
                <p class="answer"></p>
            </div>
            <div class="qa">
                <p class="question">
                    Q5. Is nutrition guidance included in the plans?
                </p>
                <p class="answer"></p>
            </div>
        </div>
    </div>
</section>