html, body {
    font-family: var(--font-default);
    margin: 0;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.container {
    padding: 1rem;
    background-color: var(--app-bg-color);
}

.app-layout {
    display: grid;
    grid-template-rows: auto 2fr auto;
    min-height: calc(100dvh - 2rem);
}

img,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

header {
    background-color: var(--header-bg-color);
    background-image: url("/images/dark-section-img.svg");
    color: var(--header-text-color);
    padding: 1.563rem 2rem;
    /* margin: 1rem; */
    border-radius: 20px;

    &:has(.hero-section) {
        padding: 1.563rem 2rem 0;
    }
}


.section-title {
    display: flex;
    background-color: var(--section-title-bg-color);
    color: var(--section-title-text-color);
    gap: 0.5rem;
    height: 2rem;
    width: fit-content;
    padding: 0 1rem;
    align-items: center;
    border-radius: 50px;
}

.primary-button {
    background-color: var(--primary-button-bg-color);
    color: var(--primary-button-text-color);
    border: none;
    font-weight: 600;
    padding: 1rem 1.5rem;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: var(--primary-button-hover-bg-color);
        color: var(--primary-button-hover-text-color);
    }

    &::after {
        content: "\f054";
        margin-left: 1rem;
        font-family: "Font Awesome 7 Pro";
        font-weight: 900;
    }
}

footer {
    background: var(--footer-background-color);
    border-radius: var(--usual-border-radius);
    color: var(--footer-text-color);
    background-image: url("/images/dark-section-img.svg");
    padding: 4rem 4rem 0 4rem;
    & p{
        margin: 0;
    }
}