<hr id="hero-header-upper-divider"/>
<section class="hero-section">
    <div class="hero-container">
        <div class="column-left">
            <div class="section-title">
                <img src="~/images/section-title-bullet.svg" alt="" />
                <span>Strong Body. Strong Mind.</span>
            </div>
            <h2>Build Strength Boost Confidence Today!</h2>
            <p>
                Begin your fitness journey with expert trainers, modern equipment,
                and a supportive environment designed to help you build streangth
                and confidence.
            </p>
            <div>
                <div id="bullet-grid">
                    <div class="bullet-grid-point">
                        <img src="~/images/check.png" alt="" />
                        <p>Transform your body with training</p>
                    </div>
                    <div class="bullet-grid-point">
                        <img src="~/images/check.png" alt="" />
                        <p>Personal training for real results</p>
                    </div>
                    <div class="bullet-grid-point">
                        <img src="~/images/check.png" alt="" />
                        <p>Build confidence through fitness</p>
                    </div>
                    <div class="bullet-grid-point">
                        <img src="~/images/check.png" alt="" />
                        <p>Fitness tailored to your goals</p>
                    </div>
                </div>
                <hr id="hero-header-lower-divider" />
                <a href="" class="primary-button">
                    Get Started
                </a>
            </div>
        </div>
        <div class="column-right">
            <img src="~/images/hero-header/hero-image.svg" alt="Bild på gym par" />
        </div>
    </div>
</section>