<section class="header-section">
    <div class="logotype">
        <a class="logotype-link" href="/">
            <img src="~/images/logotype.svg" alt="CoreFitness Group">
        </a>
    </div>

        <partial name="Partials/Common/MenuNavigation/_Desktop" />

        <nav class="account-menu menu">
            <a class="signup menu-item" asp-controller="Authentication" asp-action="SignUp">Become Member</a>
            <a class="primary-button offset" asp-controller="Account" asp-action="Index">My Account</a>
        </nav>
</section>  