<section class="header-section">
    <div class="logo">
        <a href="">
            <img src="~/images/logotype.svg" alt="corefitness logotyp" />
        </a>
    </div>
    <nav class="main-menu">
        <ul>
            <li>
                <a href="#" class="menu-item">
                    Fitness Centers
                </a>
            </li>
            <li>
                <a href="#" class="menu-item">
                    Memberships
                </a>
            </li>
            <li>
                <a href="#" class="menu-item dropdown">
                    Training
                </a>
            </li>
            <li>
                <a href="#" class="menu-item">
                    Customer Service
                </a>
            </li>
            <li>
                <a href="#" class="menu-item">
                    Store
                </a>
            </li>
        </ul>
    </nav>
    <nav class="account-menu">
        <a href="#" class="menu-item">
            Become a member
        </a>
        <a href="#" class="primary-button">
            Sign In
        </a>
    </nav>
</section>