@{
    ViewData["Title"] = "Home";
}
@section Hero {
    <partial name="Partials/Common/HeroHeader/_HeroHeader" />
}
<section id="home-sections">
    <div id="modern-equipment-section">
        <div id="modern-equipment-column-left">
            <img src="~/images/home/modern-equipment/Clip path group.svg" alt="" />
            <img src="~/images/home/modern-equipment/Clip path group2.svg" alt="" />
            <img src="~/images/home/modern-equipment/company-supports-logo-1-prime 1.svg" alt="" />
            <img src="~/images/home/modern-equipment/company-supports-logo-2-prime 1.svg" alt="" />
            <img src="~/images/home/modern-equipment/Group.svg" alt="" />
        </div>
        <div id="modern-equipment-column-right">
            <p>Modern Equipment</p>
        </div>
    </div>
    <div id="about-us-section">
        <div id="about-us-column-left">
            <img src="~/images/home/about-us-image-1-prime 1.png" alt="" />
            <img src="~/images/home/about-us-image-box-bg-image 1.png" alt="" />
            <img src="~/images/home/about-us-image-2-prime 1.png" alt="" />
        </div>
        <div id="about-us-column-right">
            <div class="section-title">
                <img src="~/images/section-title-bullet.svg" alt="" />
                <span>About Us</span>
            </div>
            <h2>Elevating Fitness Journey with Expert Guidance</h2>
            <p id="about-us-paragraph-1">
                We support every stage of your fitness journey with certified
                trainers, personalized programs proven methods designed to help you
                train safely, build strength.
            </p>
            <div>
                <p id="about-us-paragraph-2">
                    Our mission is to transform lives by combining expert guidance,
                    powerful training programs, and a motivating community that helps
                    you grow stronger every day.
                </p>
            </div>
        </div>
    </div>
    <div id="our-programs-section">
        <div class="section-title">
            <img src="~/images/section-title-bullet.svg" alt="" />
            <span>Our Programs</span>
        </div>
        <p id="our-programs-paragraph-1">
            Professional training program for stronger health
        </p>
        <div id="our-programs-grid">
            <img src="~/images/home/program-image-1 1.png" alt="" />
            <img src="~/images/home/program-image-2 1.png" alt="" />
            <img src="~/images/home/program-image-2 1.png" alt="" />
        </div>
        <strong id="our-programs-paragraph-2">
            Let's make something great work together. 
            <strong>Get Free Quote</strong>
        </strong>
    </div>
    <div id="our-store-section">
        <div class="section-title">
            <img src="~/images/section-title-bullet.svg" alt="" />
            <span>Our Store</span>
        </div>
        <p id="our-store-paragraph-1">
            High quality fitness products built for results
        </p>
        <div id="our-store-grid">
            <img src="~/images/home/product-image-1-prime 1.png" alt="" />
            <img src="~/images/home/product-image-2-prime 1.png" alt="" />
            <img src="~/images/home/product-image-3-prime 1.png" alt="" />
            <img src="~/images/home/product-image-4-prime 1.png" alt="" />
        </div>
        <strong id="our-store-paragraph-2">
            Let's make something great work together.
            <strong>Get Free Quote</strong>
        </strong>
    </div>
</section>