#sign-in-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    p {
        margin: 0;
    }
}

#external-login-providers{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 3rem 0;
}

.login-provider-icon-border {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--light-gray-color);
    height: 52px;
    width: 52px;
    border-radius: 50%;
}

#sign-in-form {
    display: flex;
    flex-direction: column;
    width: 726px;
    background-color: var(--white-color);
    border-radius: 20px;
    padding: 55px;

    form {
        display: flex;
        flex-direction: column;
    }

    hr {
        border: none;
        border-top: 1px solid #ddd;
        margin: 36px 0 0 0;
    }
}

#password-label-and-forgot-password {
    display: flex;
    justify-content: space-between;

    a {
        color: var(--primary-color);
        font-weight: var(--semi-bold);
        text-decoration: none;
        font-size: 14px;
    }
}

#sign-in-submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 85%;
}

#break-line-with-text {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 2rem 0;
}

    #break-line-with-text::before,
    #break-line-with-text::after {
        content: "";
        flex: 1;
        border-top: 1px solid var(--light-gray-color);
    }

    #break-line-with-text p {
        margin: 0 1rem;
        font-size: 12px;
        color: #999;
    }