@model SignUpPasswordForm
@{
    ViewData["Title"] = "Set Password";
    Layout = "Layouts/_AuthenticationLayout";
}

<section id="set-password-page">
    <div id="set-password-form">
        <h1 class="title set-password-title">Set Your Password</h1>
        <p id="set-password-instruction">
            Set a strong password to protect your account. For security reasons,
            your password must be at least 8 characters long and include uppercase
            and lowercase letters, numbers, and special characters.
        </p>
        <hr />
        <form method="post" asp-action="SignUpPassword" asp-controller="Authentication">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-fields">
                <div class="form-field">
                    <label asp-for="Password"></label>
                    <input type="password" asp-for="Password" />
                    <span class="form-field-validation" asp-validation-for="Password"></span>
                </div>
                <div class="form-field">
                    <label asp-for="ConfirmPassword"></label>
                    <input type="password" asp-for="ConfirmPassword" />
                    <span class="form-field-validation" asp-validation-for="ConfirmPassword"></span>
                </div>
            </div>
            <button class="primary-button" type="submit">Continue</button>

            <div id="accept-utac-section">
                <input asp-for="AcceptTermsAndConditions" />
                <label asp-for="AcceptTermsAndConditions">
                    Accept user terms and conditions
                </label>
                <span class="form-field-validation" asp-validation-for="AcceptTermsAndConditions"></span>
            </div>

        </form>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}