@{
    ViewData["Title"] = "Set Password";
}

<section id="set-password-page">
    <div id="set-password-form">
        <h1 class="title set-password-title">Set Your Password</h1>
        <p id="set-password-instruction">
            Set a strong password to protect your account. For security reasons,
            your password must be at least 8 characters long and include uppercase
            and lowercase letters, numbers, and special characters.
        </p>
        <hr />
        <form method="post">
            <div class="form-fields">
                <div class="form-field">
                    <label for="email-address">Email Address</label>
                    <input type="text"
                           name="email-address"
                           id="email-address"
                           placeholder="username@domain.com" />
                </div>
                <div class="form-field">
                    <label for="password">Password</label>
                    <input type="text"
                           name="password"
                           id="password"
                           placeholder="Enter Password" />
                </div>
            </div>
            <a href="" class="primary-button" id="set-password-submit-btn">
                Continue
            </a>
            <div id="accept-utac-section">
                <input type="checkbox" name="accept-utac" id="accept-utac" />
                <label for="accept-utac">
                    Accept user terms and conditions{" "}
                </label>
            </div>
        </form>
    </div>
</section>